.gpt3__features {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.gpt3__features-heading {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: left;
  margin-right: 5rem;
}

.gpt3__features-heading h1 {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
  text-align: left;
}

.gpt3__features-heading p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--color-subtext);
  margin-top: 2rem;
}

.gpt3__features-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-right: 3rem;
}

.gpt3__features-container p {
  max-width: 334px;
}

@media screen and (max-width: 1050px) {
  .gpt3__features {
    flex-direction: column;
  }

  .gpt3__features-heading {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }

  .gpt3__features-container {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__features-heading h1 {
    font-size: 30px;
    line-height: 43px;
  }
}
