.gpt3__footer {
  display: flex;
  flex-direction: column;
  background: var(--color-footer);
}

.gpt3__footer-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  justify-content: center;
}

.gpt3__footer-title h1 {
  font-family: var(--font-family);
  font-size: 62px;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -0.04em;
  transition: 0.3s;
  text-align: center;
}

.gpt3__footer-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.gpt3__footer-btn button {
  background: transparent;
  color: #fff;
  padding: 1.5rem 2rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  border: 1px solid;
  cursor: pointer;
  border-radius: 45px;
  transition: 0.3s;
}

.gpt3__footer-btn button:hover {
  background: #fff;
  color: black;
  border: 1px solid;
}

.gpt3__footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 6rem;
}

.gpt3__footer-links_logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.gpt3__footer-links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.gpt3__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: grey;
}

.gpt3__footer-links_links {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.gpt3__footer-links_links h4 {
  font-size: 20px;
  font-family: var(--font-family);
  color: #fff;
  margin-bottom: 1rem;
}

.gpt3__footer-links_links p {
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 20px;
  color: grey;
  margin: 1rem 0;
}

.gpt3__footer-copyright {
  display: flex;
  justify-content: center;
}

.gpt3__footer-copyright p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  text-align: left;
  margin-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .gpt3__footer-title h1 {
    font-size: 46px;
    line-height: 75px;
    text-align: center;
  }

  .gpt3__footer-btn button {
    padding: 1.3rem 1.8rem;
    font-size: 16px;
  }

  .gpt3__footer-links {
    margin: 2rem 4rem;
  }

  .gpt3__footer-links_logo {
    margin-left: -2rem;
    margin-right: 2rem;
  }

  .gpt3__footer-links_links h4 {
    font-size: 18px;
    margin-bottom: 0.1rem;
  }
  
  .gpt3__footer-links_links p {
    font-size: 14px;
    line-height: 20px;
    margin: 0.6rem 0;
  }
}

@media screen and (max-width: 450px) {
  .gpt3__footer-title h1 {
    font-size: 28px;
    line-height: 50px;
  }

  .gpt3__footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gpt3__footer-links_logo {
    margin: 0;
  }

  .gpt3__footer-links_logo p {
    margin-bottom: 1.5rem;
  }

  .gpt3__footer-links_links {
    justify-content: center;
    align-items: center;
  }
}